<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= "Ensayo #{@correction_review.assignment_schedule.assignment_number}" %></h4>
    </div>
    <div class="modal-body">
      <h4>Solicitud</h4>
      <p>
        <%= @correction_review.student_comment %>
      </p>
      <h4>Respuesta</h4>
      <% if @correction_review.reviewer_comment.nil? %>
        <p>
          Tu solicitud aún no ha sido revisada.
        </p>
      <% else %>
        <p>
          <%= @correction_review.reviewer_comment %>
        </p>
        <p>
          <%= "Tu puntaje varió en #{@correction_review.score_delta} puntos." %>
        </p>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
