<style>
  h5 {
    font-weight: 600;
  }
</style>
<h1>FAQ</h1>

<h2>Primera Etapa</h2>

<h5>
  1. Dentro de los textos incluídos para este ensayo aparece el texto NICOLÁS MAJLUF,
“LOS DESAFÍOS DE LA GESTIÓN: DE LO FORMAL A LO SUTIL”, pero el texto no está
en Siding. ¿Dónde lo puedo encontrar?
</h5>
<p>
  El texto de Nicolás Majluf es el texto Guía del curso y debe obtenerse a través de
Biblioteca, o bien, comprándolo en una librería.
</p>
<h5>
  2. ¿Cómo borro los datos de autor?
</h5>
<p>
  En Siding puedes encontrar una guía para borrar los datos de autor tanto para OS X y
Windows.
  </p>


<br />
<h2>Segunda Etapa</h2>
<h5>
  1. Me llegó un ensayo con nombre de autor. ¿Qué hago?
</h5>
<p>
  Si el nombre de autor no corresponde a Carlos Ávila (ayudante jefe, autor del
template), se debe asignar puntaje normal. Si es otro nombre, debes asignar puntaje normal y
enviar un mail a  <a href="mailto:help@limerick.cl">help@limerick.cl</a> indicando tu número de alumno, sección y nombre del archivo
que contiene a los datos del autor.
</p>
<h5>
  2. El ensayo que me tocó corregir no tiene Bibliografía. ¿Qué hago?
</h5>
<p>
  Debes hacer un descuento por aspectos formales.
</p>
<h5>3. El ensayo que me tocó corregir contiene menos planas y/o palabras que el mínimo
establecido. ¿Qué hago?</h5>
<p>
  Existen dos casos posibles:
</p>
<p>
  El primer caso ocurre cuando el alumno autor no alcanzó el mínimo por una cantidad
  razonable de palabras (< 100 palabras). En ese caso debes hacer un descuento por
  aspectos formales.
</p>
<p>
  El segundo caso es cuando el alumno autor no alcanzó el mínimo por una cantidad no
  aceptada (> 100 palabras). En ese caso, debes evaluar el ensayo con -1.
</p>
<h5>
  4. El ensayo que me tocó corregir no usó el template de los ensayos. ¿Qué hago?
</h5>
<p>
  Debes realizar un descuento por aspectos formales, según pauta.
  </p>


<br />
<h2>Tercera Etapa</h2>
<h5>
  1. ¿Por qué me aparece sólo una corrección en la tercera etapa?
</h5>
<p>Esto significa que uno de tus correctores no te corrigió y te corregirá un ayudante. <b>No
debes avisar al ayudante.</b></p>


<br />
<h2>Cuarta Etapa</h2>
<h5>
  1. Envié mi ensayo a recorregir, ¿Dónde veo los resultados?
</h5>
<p>
  Puedes ver el resultado de tu recorrección en el menú Puntajes , en la columna
Reajuste por recorrección.
</p>


<br />
<h2>Puntajes</h2>
<h5>
  1. En el menú de Puntajes me aparece una corrección vacía, un -1 y/o un NC . ¿Qué
  significa esto?
</h5>
<p>
  Cuando aparece una corrección vacía en la tercera etapa significa que uno de tus
  correctores no te corrigió tu corrección. Debes asumir 3 puntos por ello.
</p>
<p>
  Cuando aparece un NC en la segunda etapa significa que uno de tus correctores no te
  corrigió tu ensayo.
</p>
<p>
  Si aparece -1 significa que tu ensayo fue enviado por tu corrector para ser auditado.
  Tanto los NC como los -1, son enviados automáticamente a los ayudantes para que los
  auditen y corrijan, una vez corregidos se subirán los nuevos puntajes a una planilla en
  Excel y se verán actualizados en Limerick en la columna de Reajuste.
</p>
<p>
  <b>
    No debes avisar al ayudante, este proceso se maneja internamente. Estos cambios
    demoran en verse reflejados en Limerick.
  </b>
</p>
