<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Este es un mensaje automático de Limerick para notificarte que se les ha enviado un mail a <%= @conteo_alumnos %> alumnos para recordarles que suban su ensayo.
  Hasta ahora han subido sus ensayos <%= 339 - @conteo_alumnos %> alumnos.
</p>
