<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Este es un mensaje automático de Limerick para notificarte que se les ha enviado un mail a <%= @conteo_alumnos %> alumnos que no han corregido para recordarles que lo hagan.
</p>
