<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Te informo que el cuestionario para la tercera etapa está disponible.
</p>
<p>
  Sube tus correcciones ingresando a: http://www.limerick.cl/etapas/3.<br>
  Si te aparece sólo una corrección no te preocupes, eso significa que uno de tus correctores no corrigió y lo tendrá que hacer el cuerpo de ayudantes.
</p>
<p>
  Cualquier duda o error por favor escribir a: help@limerick.cl<br>
</p>
<p>
  Saludos,<br>
  Bastián
</p>
