<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Te informo que el cuestionario para la primera etapa está disponible.
</p>
<p>
  Sube tu ensayo ingresando a: http://www.limerick.cl/.<br>
</p>
<p>
  Cualquier duda o error por favor escribir a: help@limerick.cl<br>
</p>
<p>
  Saludos,<br>
  Bastián
</p>
