<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Te informo que el cuestionario para la segunda etapa está disponible.
</p>
<p>
  Sube tus correcciones ingresando a: http://www.limerick.cl/etapas/2.<br>
</p>
<p>
  Cualquier duda o error por favor escribir a: help@limerick.cl<br>
</p>
<p>
  Saludos,<br>
  Bastián
</p>
