<p>
  Hola <%= @user.name %>,<br>
</p>
<p>
  Este es un mensaje automático de Limerick para recordarte que debes subir tu ensayo de esta semana.
</p>
<p>
  Para subirlo ingresa a: http://www.limerick.cl/.<br>
</p>
<p>
  Si ya lo subiste puedes ignorar este mensaje.
  Cualquier duda o error por favor escribir a: help@limerick.cl<br>
</p>
<p>
  Saludos,<br>
  Bastián
</p>
