    <p>
      Hola <%= @user.name %>,<br>
    </p>
    <p>
      Tu contrase침a para www.limerick.cl est치 lista.<br>
      Contrase침a: <%= @pass %><br>
    </p>
    <p>
      Para ingresar a la plataforma debes entrar a: http://www.limerick.cl.<br>
    </p>
    <p>
      Mucha suerte en tu primer ensayo. Cualquier duda o error por favor escribir a: help@limerick.cl<br>
    </p>
    <p>
      Saludos,<br>
      Basti치n Ceppi
    </p>
