<footer class="footer">
  <small>
    Preguntas, errores, feedback? Escribe a  <a href="mailto:help@limerick.cl">help@limerick.cl</a>
  </small>
  <nav>
    <ul>
      <li>by <a target="_blank" href="https://www.linkedin.com/in/bastian-ceppi-42b7a8127/">Bastian Ceppi</a></li>
    </ul>
  </nav>
</footer>
